body
{
	font-family:Times new roman;
	color:rgb(155,236,255);
	font-size:30px;
	background-color:rgb(2,136,111);
	text-align: center;
	place-items: center;
}
h1
{
	font-size:50px;
}


img
{
	width:600px;
}

a 
{
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  color:rgb(155,236,255);
  font-weight:600;
}

a::before,
a::after 
{
 content: '';
  position: absolute;
  width: 100%;
}
a::before 
{
  background-color: rgb(155,236,255);
  height: 2px;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
}
a::after 
{
  content: attr(data-replace);
  height: 100%; 
  transform-origin: 100% 50%;
  transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
  color: rgb(155,236,255);
}

a:hover::before 
{
  transform-origin: 0% 50%;
  transform: scaleX(1);
}


.text {
  font-weight:600;
  position:relative;

}


.text .photo {
  visibility: hidden;
  width: 500px;
  position: absolute;
  z-index: 1;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 5%);
    opacity: 0;
}


.text:hover .photo{
	visibility: visible;
top: 50%;
  left: 50%;
   position: absolute;
  transform: translate(-50%, 5%);
  transition: opacity 0.4s ease-in-out;
    opacity: 1;
  
}

.hovertext {
  position: relative;
  font-weight:600;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 600px;
  background-color: black;
  text-align: center;
  border-radius: 5px;
  padding: 5px 50px;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
   top: 105%;
  left: 50%;
  transform: translate(-50%, 5%);
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}